@import'./global.css';
@import './header.css';
@import './introducao.css';
@import './experiencia.css';
@import './formacao.css';
@import './footer.css';

.jean {
  font-size: 4rem;
  margin: 0px;
  padding: 0px;
}